In [ ]:
print(1+2)

3

In [ ]:
print(45 + 18)
print(30 - 12)
print(15 * 6)
print(30 / 3)
print(45 % 8)

63
18
90
10.0
5

In [ ]:
print(type(30 / 3))

<class 'float'>

In [ ]:
print(45 + 1.8)
print(3 - 1.2)
print(15 * 0.6)
print(3 / 0.3)
print(45 % 0.8)

46.8
1.8
9.0
10.0
0.1999999999999975

In [ ]:
print("今日の天気は" + "晴れ")
print("今日の天気は" "曇り")

今日の天気は晴れ
今日の天気は曇り

In [ ]:
user_name = "侍太郎"
print(user_name)

侍太郎

In [ ]:
user_name = "侍太郎"
print(user_name)

user_name = "侍花子"
print(user_name)

侍太郎
侍花子

In [ ]:
# 整数型と浮動小数点型の足し算
number1 = 5
number2 = 2.5
print(number1 + number2)

# 文字列型と文字列型の連結
last_name  = "侍"
first_name = "太郎"
print(last_name + first_name)

7.5
侍太郎

In [ ]:
last_name   = "侍"
first_name  = "太郎"
sister_name = "花子"

# 3つの変数を文字列内に埋め込んで表示
print(f"私の名前は{last_name}{first_name}です。妹の名前は{sister_name}です。")

私の名前は侍太郎です。妹の名前は花子です。

In [ ]:
upper_base = 10
lower_base = 20
height = 5
area = (upper_base + lower_base) * height / 2
print(f"{area}cm²")

75.0cm²

In [1]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎"]
print(user_names[1])

侍一郎

In [2]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎"]
print(user_names)

['侍太郎', '侍一郎', '侍二郎', '侍三郎']

In [5]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]
user_names.append("侍五郎")
print(user_names)

user_names.pop(2)
print(user_names)

['侍太郎', '侍一郎', '侍二郎', '侍三郎', '侍四郎', '侍五郎']
['侍太郎', '侍一郎', '侍三郎', '侍四郎', '侍五郎']

In [6]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]
print(user_names[1])

user_names[1] = "侍花子"
print(user_names)

user_names.append("侍五郎")
print(user_names)

user_names.pop(2)
print(user_names)

侍一郎
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎']
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎', '侍五郎']
['侍太郎', '侍花子', '侍三郎', '侍四郎', '侍五郎']

In [8]:
country_names = ("日本", "アメリカ", "イギリス", "フランス" )
print(country_names[2])
print(country_names)

イギリス
('日本', 'アメリカ', 'イギリス', 'フランス')

In [9]:
country_names = {"アメリカ", "イギリス", "日本", "フランス"}
print(country_names)

{'イギリス', 'アメリカ', 'フランス', '日本'}

In [10]:
prime_numbers = {2, 5, 2, 7, 3, 5, 5 }
print(prime_numbers)

{2, 3, 5, 7}

In [11]:
prime_numbers = {2, 3, 5, 7}
print(prime_numbers)
print(prime_numbers[2])

{2, 3, 5, 7}

TypeError: 'set' object is not subscriptable

In [12]:
prime_numbers = {2, 3, 5, 7}

print(prime_numbers)

prime_numbers.add(11)
print(prime_numbers)

prime_numbers.remove(3)
print(prime_numbers)

{2, 3, 5, 7}
{2, 3, 5, 7, 11}
{2, 5, 7, 11}

In [13]:
country_names = {"アメリカ", "イギリス", "日本", "フランス", }
print(country_names)

country_names.add("ドイツ")
print(country_names)

country_names.remove("イギリス")
print(country_names)

{'イギリス', 'アメリカ', 'フランス', '日本'}
{'フランス', 'アメリカ', '日本', 'イギリス', 'ドイツ'}
{'フランス', 'アメリカ', '日本', 'ドイツ'}

In [14]:
sports = {1: "サッカー", 2: "野球", 3: "バスケット"}
sports[2] = "バドミントン"

sports[4] = "水泳"

print(sports)

{1: 'サッカー', 2: 'バドミントン', 3: 'バスケット', 4: '水泳'}

In [15]:
stationery_prices = {"鉛筆": 70, "ボールペン": 120, "シャープペンシル": 150, "消しゴム": 90}
stationery_prices.pop("シャープペンシル")

print(stationery_prices)

{'鉛筆': 70, 'ボールペン': 120, '消しゴム': 90}

In [16]:
personal_data = {"name": "侍太郎", "age": 36, "gender": "男性"}
print(personal_data["name"])

print(personal_data)

personal_data["age"] = 37

personal_data["address"] = "東京都"

print(personal_data)

侍太郎
{'name': '侍太郎', 'age': 36, 'gender': '男性'}
{'name': '侍太郎', 'age': 37, 'gender': '男性', 'address': '東京都'}

In [17]:
array = ["月曜日は晴れです", "火曜日は雨です", "水曜日は晴れです", "木曜日は晴れです", "金曜日は曇りです", "土曜日は曇りのち雨です", "日曜日は雷雨です" ]
print(array[2])

水曜日は晴れです

In [18]:
dictionary = {"mon":"晴れ" ,"tue":"雨" ,"wed":"晴れ" ,"thu":"晴れ" ,"fri":"曇り" ,"sat":"曇りのち雨" ,"sun":"雷雨" , }
print(dictionary["wed"])

晴れ